html {
  font-family: sans-serif; 
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template, /* 1 */
[hidden] {
  display: none;
}
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
button,
input,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}
optgroup {
  font-weight: bold;
}
button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
.clearfix::after {
  content:"";
  display: table;
  clear: both;
}









/*-----------------------------------------------------------------------------*/
body {
  width: 800px;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
  box-shadow: 0px 0px 10px rgba(0,0,0, .8)

}
header {
  background: #c4d4e7;
  min-height: 30px;
  height: 50px;
  
}
header h1 {
  padding: 0;
  padding-top: 10px;
  margin: 0;
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: center;

}
.main_container {
  background-image: url("img/bg.png");
}
a {
  display: inline-block;
  width: 174px;
  height: 200px;
  margin-right: 5%; 
}
a:nth-child(3n) {
  margin-right: 0; 
}

.warrior {
  background: url("img/hero1.png") no-repeat center center;
  background-size: 90%;
}
.shaman {
  background: url("img/hero2.png") no-repeat center center;
  background-size: 90%;
}
.rogue {
  background: url("img/hero3.png") no-repeat center center;
  background-size: 90%;
}
.paladin {
  background: url("img/hero4.png") no-repeat center center;
  background-size: 90%;
}
.hunter {
  background: url("img/hero5.png") no-repeat center center;
  background-size: 90%;
}
.druid {
  background: url("img/hero6.png") no-repeat center center;
  background-size: 90%;
}
.warlock {
  background: url("img/hero7.png") no-repeat center center;
  background-size: 90%;
}
.mage {
  background: url("img/hero8.png") no-repeat center center;
  background-size: 90%;
}
.priest {
  background: url("img/hero9.png") no-repeat center center;
  background-size: 90%;
}
a:hover {
  background-size: 100%;
  transition-duration: .5s;
}

.main_container__first_str, 
.main_container__second_str, 
.main_container__third_str {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 1%; 
}

.socio {
  padding: 0;
  margin: 0;
  min-height: 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align:  center;
  background: #c2cbd5;
}



.header_page {
  min-height: 100px;
  background: #c2cbd5;

}
.home {
  display: inline-block;
  vertical-align: top;
  height: 100px;
  width: 100px;
  margin-left: 10px;
  background: url("img/home.png") no-repeat center center;
  background-size: 40%;
}
.home:hover {
  background-size: 50%;
  transition-duration: .5s;
}


/*Страницы классов*/
.header_page img {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  margin-top: 15px;
}
.header_page h2 {
  margin: 0;
  margin-left: 140px;
  padding-top: 0;
  display: inline-block;
  vertical-align: top;  
  font-size: 40px;
  line-height: 50px;
  padding-top: 25px;
}
.class_line {
  height: 5px;
}
.war_line {
  background: #aa9b6d;
}
.warlock_line {
  background: #9382c9; 
}
.shaman_line {
  background: #161f96;
}
.rogue_line {
  background: #e9df60;
}
.pal_line {
  background: #d48c85;
}
.priest_line {
  background: #ffffff;
}
.mage_line {
  background: #4bccef;
}
.hunter_line {
  background: #6f9c59; 
}
.druid_line {
  background: #dd6a0f; 
}

.wrapper {
  position: relative;
  background-image: url("img/bg.png");
}

.wrapper input {
  display: none;
}

.slider_block {
  position: relative;
  float: right;
  margin-right: 25%;
  min-width: 170px;
  min-height: 650px;   
}
/*Расширяет нижнюю границу слайдера, если была выбрана колода с Рено*/
.ex_slider_reno {
  min-height: 880px;
}

.slides {
  opacity: 0;
  position: absolute;
  z-index: 0;
  top: 10px;
  width: 170px;
  min-height: 900px;
}
/*Слайды для класса воин*/
.slide1_war {
  background: url("img/deck/war/cw.jpg") no-repeat;
   }
.slide2_war { 
  background: url("img/deck/war/tw.jpg") no-repeat; 
}
.slide3_war { 
  background: url("img/deck/war/ctw.jpg") no-repeat; 
}
.slide4_war {
  background: url("img/deck/war/dw.jpg") no-repeat;
   }
.slide5_war {
  background: url("img/deck/war/ow.jpg") no-repeat;
   }

/*Слайды для класса шаман*/
.slide1_sham {
  background: url("img/deck/sham/fs.jpg") no-repeat;
   }
.slide2_sham {
  background: url("img/deck/sham/ms.jpg") no-repeat;
   }
.slide3_sham {
  background: url("img/deck/sham/es.jpg") no-repeat;
   }

/*Слайды для класса разбойник*/
.slide1_rogue {
  background: url("img/deck/rogue/mir.jpg") no-repeat;
   }
.slide2_rogue {
  background: url("img/deck/rogue/mar.jpg") no-repeat;
   }
.slide3_rogue {
  background: url("img/deck/rogue/nr.jpg") no-repeat;
   }
   .slide4_rogue {
  background: url("img/deck/rogue/kr.jpg") no-repeat;
   }
   .slide5_rogue {
  background: url("img/deck/rogue/milr.jpg") no-repeat;
   }

   /*Слайды для класса паладин*/
.slide1_pal {
  background: url("img/deck/pal/np.jpg") no-repeat;
   }
.slide2_pal {
  background: url("img/deck/pal/ap.jpg") no-repeat;
   }
.slide3_pal {
  background: url("img/deck/pal/mp.jpg") no-repeat;
   }
   .slide4_pal {
  background: url("img/deck/pal/divp.jpg") no-repeat;
   }
   .slide5_pal {
  background: url("img/deck/pal/drap.jpg") no-repeat;
   }

      /*Слайды для класса охотник*/
.slide1_hunt {
  background: url("img/deck/hunt/fh.jpg") no-repeat;
   }
.slide2_hunt {
  background: url("img/deck/hunt/mh.jpg") no-repeat;
   }

    /*Слайды для класса друид*/
.slide1_dru {
  background: url("img/deck/dru/kd.jpg") no-repeat;
   }
.slide2_dru {
  background: url("img/deck/dru/bd.jpg") no-repeat;
   }
.slide3_dru {
  background: url("img/deck/dru/ad.jpg") no-repeat;
   }

       /*Слайды для класса варлок*/
.slide1_warlock {
  background: url("img/deck/warlock/zl.jpg") no-repeat;
   }
.slide2_warlock {
  background: url("img/deck/warlock/hl.jpg") no-repeat;
   }
.slide3_warlock {
  background: url("img/deck/warlock/rl.png") no-repeat;
   }

/*Слайды для класса маг*/
.slide1_mage {
  background: url("img/deck/mage/tm.jpg") no-repeat;
   }
.slide2_mage {
  background: url("img/deck/mage/fm.jpg") no-repeat;
   }

/*Слайды для класса жрец*/
.slide1_priest {
  background: url("img/deck/priest/np.jpg") no-repeat;
   }
.slide2_priest {
  background: url("img/deck/priest/kp.jpg") no-repeat;
   }
.slide3_priest {
  background: url("img/deck/priest/dp.jpg") no-repeat;
   }


.arhetip_block {
  float: left;
  width: 30%;
  margin-left: 45px;
  margin-top: 10px;
  border-right: 2px groove #c2cbd5 
 /* box-shadow:  5px 0px 10px rgba(0,0,0,0.5);*/
}

.arhetip_block label {
  cursor: pointer;
  display: block;
  min-height: 60px;
  position: relative;
  width: 100%;
  font-size: 25px;
  padding-top: 15px;
  
}
/*Блок переключения слайдера для война*/
#slide1_war:checked ~ .arhetip_block label:nth-of-type(1),
#slide2_war:checked ~ .arhetip_block label:nth-of-type(2),
#slide3_war:checked ~ .arhetip_block label:nth-of-type(3),
#slide4_war:checked ~ .arhetip_block label:nth-of-type(4),
#slide5_war:checked ~ .arhetip_block label:nth-of-type(5) {
 background: #c2cbd5;
}

#slide1_war:checked ~ .slider_block > .slide1_war,
#slide2_war:checked ~ .slider_block > .slide2_war,
#slide3_war:checked ~ .slider_block > .slide3_war,
#slide4_war:checked ~ .slider_block > .slide4_war,
#slide5_war:checked ~ .slider_block > .slide5_war {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}
/*Блок переключения слайдера для шамана*/
#slide1_sham:checked ~ .arhetip_block label:nth-of-type(1),
#slide2_sham:checked ~ .arhetip_block label:nth-of-type(2),
#slide3_sham:checked ~ .arhetip_block label:nth-of-type(3) {
 background: #c2cbd5;
}

#slide1_sham:checked ~ .slider_block > .slide1_sham,
#slide2_sham:checked ~ .slider_block > .slide2_sham,
#slide3_sham:checked ~ .slider_block > .slide3_sham {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

/*Блок переключения слайдера для разбойника*/
#slide1_rogue:checked ~ .arhetip_block label:nth-of-type(1),
#slide2_rogue:checked ~ .arhetip_block label:nth-of-type(2),
#slide3_rogue:checked ~ .arhetip_block label:nth-of-type(3),
#slide4_rogue:checked ~ .arhetip_block label:nth-of-type(4),
#slide5_rogue:checked ~ .arhetip_block label:nth-of-type(5) {
 background: #c2cbd5;
}

#slide1_rogue:checked ~ .slider_block > .slide1_rogue,
#slide2_rogue:checked ~ .slider_block > .slide2_rogue,
#slide3_rogue:checked ~ .slider_block > .slide3_rogue,
#slide4_rogue:checked ~ .slider_block > .slide4_rogue,
#slide5_rogue:checked ~ .slider_block > .slide5_rogue {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

/*Блок переключения слайдера для паладина*/
#slide1_pal:checked ~ .arhetip_block label:nth-of-type(1),
#slide2_pal:checked ~ .arhetip_block label:nth-of-type(2),
#slide3_pal:checked ~ .arhetip_block label:nth-of-type(3),
#slide4_pal:checked ~ .arhetip_block label:nth-of-type(4),
#slide5_pal:checked ~ .arhetip_block label:nth-of-type(5) {
 background: #c2cbd5;
}

#slide1_pal:checked ~ .slider_block > .slide1_pal,
#slide2_pal:checked ~ .slider_block > .slide2_pal,
#slide3_pal:checked ~ .slider_block > .slide3_pal,
#slide4_pal:checked ~ .slider_block > .slide4_pal,
#slide5_pal:checked ~ .slider_block > .slide5_pal {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

/*Блок переключения слайдера для охотника*/
#slide1_hunt:checked ~ .arhetip_block label:nth-of-type(1),
#slide2_hunt:checked ~ .arhetip_block label:nth-of-type(2) {
 background: #c2cbd5;
}

#slide1_hunt:checked ~ .slider_block > .slide1_hunt,
#slide2_hunt:checked ~ .slider_block > .slide2_hunt {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

/*Блок переключения слайдера для друида*/
#slide1_dru:checked ~ .arhetip_block label:nth-of-type(1),
#slide2_dru:checked ~ .arhetip_block label:nth-of-type(2),
#slide3_dru:checked ~ .arhetip_block label:nth-of-type(3) {
 background: #c2cbd5;
}

#slide1_dru:checked ~ .slider_block > .slide1_dru,
#slide2_dru:checked ~ .slider_block > .slide2_dru,
#slide3_dru:checked ~ .slider_block > .slide3_dru {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

/*Блок переключения слайдера для варлока*/
#slide1_warlock:checked ~ .arhetip_block label:nth-of-type(1),
#slide2_warlock:checked ~ .arhetip_block label:nth-of-type(2),
#slide3_warlock:checked ~ .arhetip_block label:nth-of-type(3) {
 background: #c2cbd5;
}

#slide1_warlock:checked ~ .slider_block > .slide1_warlock,
#slide2_warlock:checked ~ .slider_block > .slide2_warlock,
#slide3_warlock:checked ~ .slider_block > .slide3_warlock {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

/*Блок переключения слайдера для мага*/
#slide1_mage:checked ~ .arhetip_block label:nth-of-type(1),
#slide2_mage:checked ~ .arhetip_block label:nth-of-type(2) {
 background: #c2cbd5;
}

#slide1_mage:checked ~ .slider_block > .slide1_mage,
#slide2_mage:checked ~ .slider_block > .slide2_mage {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

/*Блок переключения слайдера для приста*/
#slide1_priest:checked ~ .arhetip_block label:nth-of-type(1),
#slide2_priest:checked ~ .arhetip_block label:nth-of-type(2),
#slide3_priest:checked ~ .arhetip_block label:nth-of-type(3) {
 background: #c2cbd5;
}

#slide1_priest:checked ~ .slider_block > .slide1_priest,
#slide2_priest:checked ~ .slider_block > .slide2_priest,
#slide3_priest:checked ~ .slider_block > .slide3_priest {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}